1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [1]:
a='HelloWorld'
b='Hello'
c='World'
t=[]
for i in range(1,101): #loop to separate numbers from 1 to 100 for multiples of 3,5 and both
    if(i%3==0):
        if(i%5==0):
            t.append(a)
        else:
            t.append(b)
    elif(i%5==0):
        t.append(c)
    else:
        t.append(i)
print('The answer of 1(a)\n', t)
l=list(t) #tuple to list

for j,k in enumerate(l): #replace hello to python, world to works
    if(k=='HelloWorld'):
        l[j]='PythonWorks'
        
    elif(k=='Hello'):
        l[j]='Python'
        
    elif(k=='World'):
        l[j]='Works'
tu=tuple(l) #list to tuple
print('\nThe answer of 1(b)\n', tu)

The answer of 1(a)
 [1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World']

The answer of 1(b)
 (1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [18]:
def swap_temp(x,y):
    temp=x
    x=y
    y=temp
    print('After swap using temporary variable',x,y)

def swap_without_temp(x,y):
    x,y = y,x
    print('After swap without temporary variable',x,y)

x=10
y=20
print('Before swap',x,y)
swap_temp(x,y)
swap_without_temp(x,y)

Before swap 10 20
After swap using temporary variable 20 10
After swap without temporary variable 20 10

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
import math

u=(3,0)
v=(4,7)


def eug(u,v):
    a=math.sqrt((((u[0]-v[0])**2)+((u[1]-v[1])**2)))
    return a

print('Euclidean distance between two points',eug(u,v))

Euclidean distance between two points 7.0710678118654755

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [2]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

In [4]:
s = "Write a program that prints the numbers from 1 to 100. \
     But for multiples of three print Hello instead of the number and for the multiples of five print World. \
     For numbers which are multiples of both three and five print HelloWorld."

t={}

for i in s.lower(): #loop to count no.of times each character is repeated
    if i in t:
        t[i]+=1
    else:
        t[i]=1
        
for j in t:
    print('Character',j,'has occured',t[j],'times')

Character w has occured 4 times
Character r has occured 19 times
Character i has occured 12 times
Character t has occured 19 times
Character e has occured 20 times
Character   has occured 51 times
Character a has occured 7 times
Character p has occured 8 times
Character o has occured 15 times
Character g has occured 1 times
Character m has occured 8 times
Character h has occured 11 times
Character n has occured 10 times
Character s has occured 7 times
Character u has occured 7 times
Character b has occured 5 times
Character f has occured 10 times
Character 1 has occured 2 times
Character 0 has occured 2 times
Character . has occured 3 times
Character l has occured 12 times
Character d has occured 5 times
Character v has occured 2 times
Character c has occured 1 times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [5]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [5]:
from collections import Counter
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def cou(l):
    l2=[]
    c=0
    count= Counter(l)
    for i in l: 
        if (count[i]==1): #if the number occurred once then add to l2 list
            l2.append(i)
            c+=1
    print('Unique number are',l2)
    print('Count of unique numbers is',c)
cou(l)

Unique number are [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
Count of unique numbers is 37

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

l2=[]
c=0

for i in l:
    count=0
    for j in l:
        if i==j:
            count+=1
    if (count==1):
        l2.append(i)
        c+=1
print('Unique numbers are',l2)
print('Count of unique numbers is',c)

Unique numbers are [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
Count of unique numbers is 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [7]:
n=4

def sq(n):
    return n**2

def cu(n):
    return n**3

def si(n):
    return sq(cu(n))
    
print('The sixth of',n,'is',si(n))

The sixth of 4 is 4096

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [9]:
l=[]
for i in range(11):
    l.append(i**3)
print('Cubes using for loop',l)

l2=[i**3 for i in range(11)]
print('Cubes using list comprehension',l2)

Cubes using for loop [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
Cubes using list comprehension [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [10]:
import math

def pyth():
    l=[]
    for i in range(100):
        for j in range(1,i):
            k=math.sqrt((i*i)+(j*j))
            if (k==int(k) and k<100): # add pythagorean triples to tuple l for +ve integers less than 100
                t=(i,j,int(k))
                l.append(t)
    t2=tuple(l)
    print(t2)
pyth()

((4, 3, 5), (8, 6, 10), (12, 5, 13), (12, 9, 15), (15, 8, 17), (16, 12, 20), (20, 15, 25), (21, 20, 29), (24, 7, 25), (24, 10, 26), (24, 18, 30), (28, 21, 35), (30, 16, 34), (32, 24, 40), (35, 12, 37), (36, 15, 39), (36, 27, 45), (40, 9, 41), (40, 30, 50), (42, 40, 58), (44, 33, 55), (45, 24, 51), (45, 28, 53), (48, 14, 50), (48, 20, 52), (48, 36, 60), (52, 39, 65), (55, 48, 73), (56, 33, 65), (56, 42, 70), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (63, 16, 65), (63, 60, 87), (64, 48, 80), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [19]:
t=[432.983,843,23]

def nor(t):
    l=list(t)
    l=[i/max(l) for i in l] #dividing each number by max value in tuple
    return l
print('Normalised values of tuple',t ,'is', nor(t))

Normalised values of tuple [432.983, 843, 23] is [0.5136215895610914, 1.0, 0.027283511269276393]